# Configuración mantenimiento proyecto.
path_insumos : "Insumos/"

directorio_aviones:
  nom_base: "aviones_compania_final.xlsx"
  nom_hoja: "Directorio_Aviones"
  dict_cols_num: &cols_numeric
    "horas_vuelo": "horas_vuelo"
    "capacidad_pasajeros": "capacidad_pasajeros"
    "peso_maximo_carga": "peso_maximo_carga"
    "horas_ultimo_mantenimiento" : "horas_ultimo_mantenimiento"
  dict_cols: 
   <<: *cols_numeric
   "matricula": "matricula"
   "tipo": "tipo"
   "modelo": "modelo"
   "fabricante": "fabricante"
   "propietario": "propietario"
   "disponible": "disponible"
   "necesita_mantenimiento": "necesita_mantenimiento"
  config_operaciones:
    "igual": "Filtrar aviones con el valor exacto, ingresado para la col seleccionada."
    "mayor": "Filtrar aviones de por encima del valor ingresado para la col seleccionada."
    "menor": "Filtrar aviones por debajo del valor ingresado para la col seleccionada. "
    "mayor_igual": "Filtrar valores mayores o iguales al valor ingresado para la col seleccionada. "
    "menor_igual": "Filtrar valores menores o iguales al valor ingresado para la col seleccionada. "
    "entre_a_b_valores": "Filtrar valores entre un rango definido para la col seleccionada "
  dict_mensajes:
    mensajes:
      columnas_disponibles: "Opciones de columnas disponibles para filtrar por favor ingrese:"
      ingresa_opcion: "Ingresa tu opción:"
      opcion_no_valida: "La opción ingresada no es válida. Intente nuevamente."
      entrada_no_valida: "Entrada no válida. Por favor, ingrese un número."
      operacion_seleccione: "Seleccione la operación que desea realizar:"
      operacion_no_valida: "Operación no válida. Opciones disponibles:"
      ingrese_valor_min: "Ingrese el valor mínimo:"
      ingrese_valor_max: "Ingrese el valor máximo:"
      ingrese_umbral: "Ingrese el valor umbral:"
      resultados_filtro: "Resultados del filtro en la columna:"
  aviones_ingresar:
   1:
     matricula: "DEF002"
     tipo: "Ambulancia Aérea"
     modelo: "Boeing 747"
     fabricante: "Boeing"
     propietario: "Owner 5"
     horas_vuelo: 12563
     capacidad_pasajeros: 10
     peso_maximo_carga: 450
     disponible: "FALSO"
     horas_ultimo_mantenimiento: 132
     necesita_mantenimiento: "VERDADERO"
   2:
     matricula: "GHI004"
     tipo: "Privado"
     modelo: "Learjet 75"
     fabricante: "Bombardier"
     propietario: "Owner 2"
     horas_vuelo: 4521
     capacidad_pasajeros: 8
     peso_maximo_carga: 190
     disponible: "VERDADERO"
     horas_ultimo_mantenimiento: 350
     necesita_mantenimiento: "FALSO"
   3:
     matricula: "JKL005"
     tipo: "Carga"
     modelo: "Antonov An-225"
     fabricante: "Antonov"
     propietario: "Owner 6"
     horas_vuelo: 9623
     capacidad_pasajeros: 0
     peso_maximo_carga: 2500
     disponible: "VERDADERO"
     horas_ultimo_mantenimiento: 200
     necesita_mantenimiento: "FALSO"
   4:
     matricula: "MNO006"
     tipo: "Vuelo Privado"
     modelo: "Cessna Citation X"
     fabricante: "Cessna"
     propietario: "Owner 4"
     horas_vuelo: 3702
     capacidad_pasajeros: 12
     peso_maximo_carga: 250
     disponible: "FALSO"
     horas_ultimo_mantenimiento: 180
     necesita_mantenimiento: "VERDADERO"
   5:
     matricula: "PQR007"
     tipo: "Fumigación"
     modelo: "Air Tractor AT-802"
     fabricante: "Air Tractor"
     propietario: "Owner 7"
     horas_vuelo: 1543
     capacidad_pasajeros: 0
     peso_maximo_carga: 100
     disponible: "VERDADERO"
     horas_ultimo_mantenimiento: 50
     necesita_mantenimiento: "FALSO"
   6:
     matricula: "DEF002"
     tipo: "Comercial"
     modelo: "Boeing 747"
     fabricante: "Boeing"
     propietario: "Owner 5"
     horas_vuelo: 12563
     capacidad_pasajeros: 416
     peso_maximo_carga: 680
     disponible: "FALSO"
     horas_ultimo_mantenimiento: 132
     necesita_mantenimiento: "VERDADERO"
   7:
     matricula: "GHI004"
     tipo: "Privado"
     modelo: "Learjet 75"
     fabricante: "Bombardier"
     propietario: "Owner 2"
     horas_vuelo: 4521
     capacidad_pasajeros: 8
     peso_maximo_carga: 190
     disponible: "VERDADERO"
     horas_ultimo_mantenimiento: 350
     necesita_mantenimiento: "FALSO"
   8:
     matricula: "JKL005"
     tipo: "Cargo"
     modelo: "Antonov An-225"
     fabricante: "Antonov"
     propietario: "Owner 6"
     horas_vuelo: 9623
     capacidad_pasajeros: 0
     peso_maximo_carga: 2500
     disponible: "VERDADERO"
     horas_ultimo_mantenimiento: 200
     necesita_mantenimiento: "FALSO"
   9:
     matricula: "MNO006"
     tipo: "Privado"
     modelo: "Cessna Citation X"
     fabricante: "Cessna"
     propietario: "Owner 4"
     horas_vuelo: 3702
     capacidad_pasajeros: 12
     peso_maximo_carga: 250
     disponible: "FALSO"
     horas_ultimo_mantenimiento: 180
     necesita_mantenimiento: "VERDADERO"
   10:
     matricula: "PQR007"
     tipo: "Carga"
     modelo: "Airbus A380"
     fabricante: "Airbus"
     propietario: "Owner 7"
     horas_vuelo: 15463
     capacidad_pasajeros: 853
     peso_maximo_carga: 800
     disponible: "VERDADERO"
     horas_ultimo_mantenimiento: 240
     necesita_mantenimiento: "FALSO"
  

directorio_pasajeros: 
  nom_base: "pasajeros_sin_asiento.xlsx"
  nom_hoja: "sheet1"
  dict_cols: 
    "nombre": "Nombre"
    "documento_identidad": "Documento_Identidad"
    "edad": "Edad"
    "equipaje": "Equipaje"
    "vuelo": "Vuelo"
    "estado_reserva": "Estado_Reserva"

directorio_empleados: 
  nom_base: "empleados.xlsx"
  nom_hoja: "Sheet1"
  dict_cols: 
    "Nombre": "Nombre"
    "ID_Empleado": "ID_Empleado"
    "Rol": "Rol"
    "Documento_Licencia": "Documento_Licencia"
    "Horas_Vuelo": "Horas_Vuelo"
    "Estado_Empleado": "Estado_Empleado"
    "Estado_Empleado": "Estado_Empleado"
    "Disponible": "Disponible"
    "Ubicacion": "Ubicacion"   
  
Resultados: 
  repor_gen_hangar:
    path_base:  Resultados/
    nom_base: reporte_aviones_posibles_consultados.xlsx
    nom_hoja: Reporte


Menu:
  mensaje_principal: |
    Menu principal:
    Ingrese el número de su selección:    
    1.Ingresar a los procesos de gestión de Avión 
    2.Ingresar a los procesos de gestión de Hangar
    3.Ingresar a los procesos de gestión de Empleado
    4.Ingresar a los procesos de gestión de Tripulación
    5.Ingresar a los procesos de gestión de Mantenimiento
    6.Ingresar a los procesos de gestión de Servicios
    7.Ingresar a los procesos de gestión de Vuelo
    8.Ingresar a los procesos de gestión de Pasajero
    0.Salir
  menu_opcion: &opciones_menu
    "1" : "Avion"
    "2" : "Hangar"
    "3" : "Empleado"
    "4" : "Tripulacion"
    "5" : "Mantenimiento"
    "6" : "Servicios"
    "7" : "Vuelo"
    "8" : "Pasajeros"
    "0" : "Salir"

opcion_regresar :  &opcion_regresar
  0 : "Regresar al menu principal"

directorio_menu: 
  nom_base : base_menus.xlsx
  nom_hojas : 
    << : *opciones_menu
  cols: 
    "num_opcion" : "num_opcion"
    "opciones" : "opciones"

dict_constantes :
  "Salir" : "Salir"

